{% extends 'base.html' %}

{% block contentarea %}
{% load static %}
<center>
    <div id="wrapper">
        
        <div id="page">
            <div id="content">
                <div class="box">
                    <h2>Bem-Vindo ao PROCURASE</h2>
                    <p>
                        O presente estudo teve como escopo abordar, na Polícia de Segurança Pública, a gestão de ocorrências policiais que envolvam pessoas desaparecidas. Atualmente, verifica- se alguma inércia das forças e serviços de segurança em definir e cimentar procedimentos baseados na cooperação, criação de sinergias e envolvimento de instituições de carácter social. Note-se, a título exemplificativo, que uma das limitações ao presente estudo foi a ausência de literatura acerca desta temática que, consideramos, ser da maior relevância.
                        São as notícias veiculadas pelos órgãos de comunicação social que, por diversas vezes, fazem despoletar ações que visam localizar um desaparecido. No nosso entender, chamam a si, uma iniciativa que deveria recair no Estado.
                        Procurámos, assim, interpretar os procedimentos em vigor na Polícia de Segurança Pública, conhecer a importância da ação imediata e identificar a formação especializada como uma necessidade.
                        
                    </p>
                </div>
                
                <br class="clearfix" />
            </div>
            
            <br class="clearfix" />
        </div>
        
    </div>
    
</center>
{% endblock %}